.mainView {
  background-color: #ecf0f1;
  line-height: 1.5;
  min-height: 100vh;
}

.createPost-container {
  margin-top: 50px;
}

.createView {
  float: left;
  width: 85%;
  background: white;
  box-shadow: rgb(201, 204, 205) 0px 1px 2px;
  padding: 2% 3% 5% 3%;
}

#titleArea {
  padding-top: 5px;
  padding-left: 20px;
  height: 20%;
  width: 100%;
  background: #ecf0f1;
  box-shadow: rgb(201, 204, 205) 0px 1px 2px;
  resize: none;
  border: none;
  outline: none;
}

#topicArea {
  margin-top: 20px;
  padding: 20px;
  height: 55%;
  width: 100%;
  resize: none;
  background: #ecf0f1;
  box-shadow: rgb(201, 204, 205) 0px 1px 2px;
  border: none;
  outline: none;
}

.category-div {
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
}

.categoryBtn {
  text-align: left;
  position: relative;
  width: 30%;
  border: 1px solid grey;
}

.userProfilePicture {
  height: 35%;
}

.reply-button {
  float: right;
  margin-top: 20px;
}

.topic-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-newtopic textarea {
  border-radius: 2px;
  box-shadow: none;
  border: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  color: #989c9e;
  font-family: "Open Sans Light", sans-serif;
  margin-bottom: 20px;
  height: 150px;
}

.form-newtopic input[type="text"],
.form-newtopic input[type="password"] {
  border-radius: 2px;
  box-shadow: none;
  border: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  color: #989c9e;
  font-family: "Open Sans Light", sans-serif;
  margin-bottom: 20px;
  height: 50px;
}

.post-button {
  background-color: cornflowerblue;
  box-shadow: none;
  border-radius: 2px;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans Bold", sans-serif;
  border: none;
  margin-bottom: 10px;
}

.post-button:hover,
.post-button:active,
.post-button:focus {
  color: white;
  background-color: rgb(92, 136, 218) !important;
  outline: 0;
  border: none !important;
}
