.info-div {
	background-color: white;
	border-bottom: 0.5px solid lightgray;
	border-right: 0.5px solid lightgray;
	width: 50%;
	height: 33.33%;
	float: left;
	padding: 10px;
}

.info-container {
	display: grid;
	float: left;
	width: 60%;
	float: left;
}

.button-container {
	display: flex;
	width: 30%;
	align-items: center;
	justify-content: center;
}

.content {
	width: 70%;
}

#header {
	color: gray;
}

#editable {
	font-weight: 600;
}

.info-div:hover .fa-edit {
	visibility: visible;
	opacity: 1;
}

.fa-edit {
	float: right;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.5s linear;
	cursor: pointer;
}