.home {
  background-color: #ecf0f1;
  overflow: hidden;
  padding: 0;
  line-height: 1.5;
}

.post-container {
  margin-top: 40px;
}

.filter-div {
  width: 50%;
  position: relative;
  display: inline-block;
}

.button-div {
  width: 50%;
}

.createBtn {
  float: right;
}

.createBtn a, .createBtn a:hover {
  color: white;
}

.header-row {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.home-toolbar {
  justify-content: space-between;
  width: 100%;
}

.breadcrumb {
  background-color: #ecf0f1;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

.page-button {
  font-family: "Open Sans Semibold", sans-serif;
  border-radius: 2px;
  display: block;
  padding: 2px 10px;
  margin-right: 10px;
  background-color: #6c757d;
  border: none;
  color: white;
}

.active {
  background: cornflowerblue;
  border: none;
}

.page-button:focus {
  border: none;
  outline: 0;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-container, .post-container {
    max-width: 970px;
  }
}