.home-nav {
  height: 70px;
  border-bottom: 1px solid rgb(201, 204, 205);
  background-color: white;
  box-shadow: rgb(201, 204, 205) 0px 1px 2px;
  line-height: 1.5;
}

.home-nav a {
  text-decoration: none;
}

.nav-container {
  height: 69px;
}

.topnav-home {
  z-index: 100;
}

.topnav-home a {
  float: right;
  color: #4d4d4d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-home a:hover {
  background-color: #ecf0f1;
}

.nav-image {
  opacity: 0.9;
  position: relative;
  width: 100%;
  height: 20vh;
  object-fit: cover;

  animation: fade 1s ease-in;
}

.healthify-logo {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
  height: 100%;
  text-align: center;
  display: table;
  border-right: 1px solid #eaeaea;
}

.healthify-logo h2 {
  margin-top: 15px;
  color: #4d4d4d;
}

.first-container {
  height: 100%;
}

.second-container {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.third-container {
  height: 100%;
  width: 26%;
  margin-left: 15px;
  float: left;
}

.home-nav .row,
.home-nav .container {
  height: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus {
  color: #697683;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.new-topic {
  background: #82aada;
  border: none;
  transform: translatey(10px);
}

.profile-img {
  border-radius: 50%;
  margin-top: 10px;
}

.profile-button {
  border: none;
  margin-top: 10px;
  margin-right: 20px;
}

.notif-ico {
  margin-top: 45px;
  margin-right: 20px;
  margin-left: 20px;
  transform: translatey(-50%);
  height: 100%;
}

.btn-container {
  z-index: 100;
  position: relative;
}

.profile-container {
  width: 100% !important;
  justify-content: flex-end;
}

.dropdown-toggle {
  box-shadow: none !important;
}

.new-topic a {
  color: white;
}

.new-topic a:hover {
  text-decoration: none;
}

.topnav-home {
  width: unset;
  position: relative;
  float: left;
}

.topnav-home a {
  padding: 19.5px 16px;
}

.home-menu {
  display: none;
  margin-left: auto;
  float: right;
  transform: translateY(50%);
  cursor: pointer;
}

.fa-bars,
.fa-bell {
  color: rgb(157, 166, 170);
}

@media only screen and (max-width: 995px) {
  .search-box {
    display: none;
  }
  .btn-container {
    display: none;
  }
  .home-menu {
    display: block;
  }
  .first-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  .second-container {
    display: none;
  }
  .topnav-home {
    display: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
