.input-field {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  font-weight: 300;
  margin-bottom: 8px;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 20px;
  outline: 0;
  border: none;
}

.form .label,
.form .labelError {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 22px;
}

.form .label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #4285f4;
  transform: translateX(-105%);
  transition: all 0.3s ease;
}

.form .labelError::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid red;
  transform: translateX(-105%);
  transition: all 0.3s ease;
}

.label-name {
  color: #162d3d;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label .label-name,
.form input:valid + .label .label-name,
.form input:focus + .labelError .label-name,
.form input:valid + .labelError .label-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #162d3d;
}

.form input:focus + .label::after,
.form input:valid + .label::after,
.form input:focus + .labelError::after,
.form input:valid + .labelError::after {
  transform: translateX(0%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
