.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(255, 255, 255);
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(174, 177, 211);
}

.login-form {
  width: 450px;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  text-align: center;
  box-sizing: border-box;
}

.login-form h1 {
  color: #177dac;
  text-transform: uppercase;
  font-size: 10000;
}

.login-box input[type="text"],
.login-form input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #177dac;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  width: 250px;
  border-color: rgb(0, 0, 0);
}

.icon {
  color: #177dac;
  min-width: 10px;
}

.login-form a[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #177dac;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  font-style: sans-serif;
  border-radius: 24px;
  transition: 0.25 s;
  cursor: pointer;
}

.login-form a[type="submit"]:hover {
  background-color: #177dac;
  text-decoration: none;
}

.login-form a[type="forgot"] {
  color: #177dac;
  font-family: sans-serif;
}

.login-form a[type="txt2"] {
  color: #177dac;
  font-family: sans-serif;
}

/* If you want the content centered horizontally and vertically */

.signup-form h1 {
  color: #177dac;
  text-transform: uppercase;
  font-size: 10000;
}

.signup-form {
  width: 450px;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(174, 177, 211);
  text-align: center;
  box-sizing: border-box;
}
