.login-title {
  font-size: 56px;
  margin-bottom: 15px;
  color: #20303c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.form {
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-container {
  padding-top: 50px;
}

.login-section {
  display: flex;
  padding-bottom: 50px;
}

.login-email {
  float: left;
  width: 360px;
  margin-right: 71px;
}

.login-social {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 71px;
  border-left: 1px solid rgba(133, 143, 150, 0.8);
}

body {
  line-height: unset !important;
}

label {
  margin-bottom: unset;
}

.fa-times {
  float: right;
}

.top-head {
  margin-top: 70px;
  width: 100%;
}

.signup-link {
  font-size: 20px;
  margin-bottom: 34px;
  font-weight: 300;
  text-align: center;
}

.signup-link a {
  color: lightblue;
  font-weight: 400;
}

.signup-link a:hover {
  text-decoration: none;
}

.btn-container {
  height: 56px;
  width: 308px;
  padding: 4px;
  border-radius: 1px;
  margin-bottom: 9px;
}

.social-btn {
  padding: 0;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  /* box-shadow: rgb(142, 142, 142) 2px 4px 4px;*/
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-google {
  background-color: #4285f4;
}

.btn-google img {
  padding: 13px !important;
}

.social-btn img {
  background-color: #fff;
  border-radius: 1px;
  padding: 12px 15px 11px 16px;
  float: left;
  width: 46px;
  height: 46px;
}

.social-btn span {
  text-align: center;
  color: white;
  font-family: Roboto, HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma,
    HelveticaNeueW10-55Roma, sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
  line-height: 48px;
}

.login-btn {
  color: #3899ec;
  border: 1px solid #3899ec;
  border-radius: 20px;
  background-color: transparent;
  padding: 12px 45px;
  transition: background-color 0.3s, color 0.3s, background 0.3s,
    box-shadow 0.1s ease-in-out;
}

.login-btn:hover {
  background-color: #3899ec;
  color: white;
}

.login-btn:focus,
.social-btn:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .login-social {
    display: none;
  }
  .login-email {
    width: 340px;
  }
  .login-section {
    text-align: center;
  }
  .sm-btns {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .login-social {
    display: none;
  }
  .login-email {
    margin-right: 0px;
  }
  .login-section {
    text-align: center;
  }
}

@media (min-width: 1001px) {
  .sm-btns {
    display: none;
  }
}

/*resize buttons social*/

.sm-social-btn {
  margin-right: 10px;
  margin-top: 15px;
  border: 1px solid #3899ec;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

.sm-social-btn:hover img,
.sm-social-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.sm-social-btn img {
  background-color: transparent;
  border-radius: 1px;
  padding: 12px 15px 11px 16px;
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 40%;
  padding: 13px !important;
  transition: 0.2s ease-in-out;
}
