.category-nav {
  border-bottom: 3px solid #e9ecee;
  height: 70px;
}

.category-nav .all-categories {
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
  align-items: center;
  margin-right: 15px;
  background-color: #e9ecee;
  padding: 10px 24px;
  color: #333333;
  font-size: 18px;
}

.category-nav .filter {
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
  align-items: center;
  margin-right: 5px;
  padding: 10px 15px;
  color: #989a9a;
  font-size: 18px;
}

.category-nav .active {
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
  align-items: center;
  margin-right: 5px;
  padding: 10px 15px;
  color: #333333;
  font-size: 18px;
}
