.topnav {
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: #494e56;
}

.topnav .logo {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #4e545d;
}

.topnav a.active:hover {
  background-color: #5882d1;
}

.topnav .menu {
  color: white;
}

.menu {
  padding: 9px 9px;
  display: none;
  margin-left: auto;
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .nav-buttons {
    display: none;
  }
  .menu {
    display: block;
  }
  .decor {
    display: none;
  }
}