.topnav {
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: white;
}

.topnav .logo {
  color: #707070;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.topnav a {
  float: right;
  color: #707070;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ecf0f1;
  color: black;
}

.menu {
  padding: 9px 9px;
  display: none;
  margin-left: auto;
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .nav-buttons {
    display: none;
  }
  .menu {
    display: block;
  }
}