.breadcrumbContainer {
	margin-top: 100px;
	position: relative;
	display: block;
	justify-items: start;
	width: 100%;

	border: 1px solid blue;
}

ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: white;
	margin-bottom: 0;
}

ul.breadcrumb li {
	display: inline;
}

ul.breadcrumb li + li:before {
	padding: 8px;
	color: black;
	content: ">\00a0";
}

ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}
