.post {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(201, 204, 205) 0px 1px 2px;
  margin-bottom: 20px;
  border-radius: 2px;
  width: 100%;
  overflow: hidden;
}

.post a:hover {
  color: #989c9e;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #989c9e;
}

.post h2 {
  color: #363838;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.post .wrapper {
  width: 85%;
}

.left {
  float: left;
}

.user-info {
  width: 15%;
  padding: 20px 15px 15px 15px;
}

.title {
  margin-bottom: 0;
}

.user-name {
  font-size: 12px;
  overflow: hidden;
  font-style: italic;
  color: #7b7b7b;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.post .avatar {
  margin-left: 5px;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 37px;
  border-radius: 50%;
}

.post .post-text {
  width: 85%;
  padding-right: 15px;
  /* padding-top: 20px;*/
  padding-top: 15px;
  padding-bottom: 15px;
  color: #989c9e;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  line-height: 25px;
}

.post-info {
  width: 15%;
  border-left: solid 1px #f1f1f1;
}

.post .views {
  color: rgb(157, 166, 170);
  font-size: 12px;
  font-family: "Open Sans Regular", sans-serif;
  text-align: center;
  line-height: 29px;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.fa-heart, .fa-clock, .fa-heart-broken {
  color: rgb(157, 166, 170);
  margin-right: 5px;
  font-size: 15px;
}

.empty {
  border-bottom: solid 1px #f1f1f1;
  padding: 18px 0 25px 0;
  text-align: center;
}

.time, .likes {
  color: rgb(157, 166, 170);
  font-size: 12px;
  font-family: "Open Sans Regular", sans-serif;
  text-align: center;
  line-height: 29px;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.fa-heart, .fa-heart-broken {
  cursor: pointer;
}

.fa-heart:hover {
  color: #ed1f1f;
}

.tapped {
  color: #ed1f1f;
}

.time {
  border-bottom: none;
}

.post .empty .commentbg {
  background-color: #bdc3c7;
  border-radius: 2px;
  display: inline-block;
  padding: 12px 17px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans Bold", sans-serif;
  position: relative;
}

.post .empty .commentbg .mark {
  width: 11px;
  height: 11px;
  background-color: #bdc3c7;
  position: absolute;
  bottom: 0;
  left: 43%;
  margin-bottom: -5px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 991px) and (min-width: 768px) {
  .post .empty .commentbg {
    font-size: 12px;
    padding: 7px;
    min-width: 35px;
  }
}

@media (max-width: 767px) {
  .post .empty .commentbg {
    font-size: 12px;
    padding: 7px;
    min-width: 35px;
  }
}

.info {
  margin-top: 10px;
  text-align: center;
}

.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url("http://i.stack.imgur.com/iqN2k.png");
  background-position: 0 -25px;
}

.down-vote {
  transform: rotate(180deg);
}

.vote.on {
  background-position: 0 2px;
}

@media (max-width: 545px) {
  .avatar {
    display: none;
  }
}

.isDoctor {
  background-color: #ddedf5;
}