a {
  color: #333;
  text-decoration: none;
}

.likebar a:hover {
  cursor: pointer;
}

.heart-icon:hover {
  color: red;
}

.view-container {
  background-color: #ecf0f1;
  overflow: hidden;
  padding: 0;
}

.likebar {
  height: 20%;
  text-align: end;
}

.likebar a:hover {
  cursor: pointer;
}

.style {
  background-color: rgb(229, 236, 250);
  background-color: #fff3d1;
}

.post-info-bot {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  padding: 0 30px 0 94px;
}

.post-info-bot .likeblock {
  width: 120px;
}

.post-info-bot .prev {
  width: 30px;
}

.post-info-bot .posted {
  font-size: 12px;
  color: #bdc3c7;
  font-family: "Open Sans Regular", sans-serif;
}

.post-info-bot .next {
  width: 90px;
  text-align: right;
}

.right {
  float: right;
}

.up {
  color: #1abc9c;
  font-size: 12px;
  cursor: pointer;
}

.up i, .down i {
  font-size: 20px;
  padding-right: 10px;
}

.down {
  color: #db7a7a;
  font-size: 12px;
  margin-left: 20px;
  cursor: pointer;
}

.post-info-bot .next a {
  font-size: 18px;
  color: #bdc3c7;
}

.post-info-bot .next a i {
  padding-right: 18px;
}

.post-info-bot .prev a {
  font-size: 18px;
  color: #bdc3c7;
}

a.down:hover {
  text-decoration: none;
  color: #f48989;
}

a.up:hover {
  text-decoration: none;
  color: #1de4bd;
}