.main {
	margin-top: 60px;
	width: 802px;
	position: relative;
	box-shadow: rgb(201, 204, 205) 0px 1px 2px;
}

.replyBody {
	text-align: justify;
	height: 150px;
	position: relative;
	font-style: normal;
}

.replier {
	background-color: white;
	border-right: 1px solid grey;
	width: 120px;
	height: 188px;
	float: left;
}

.ck {
	height: 150px;
}
