.textwraper {
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 18px;
}

.postreply {
  font-size: 12px;
  color: #bdc3c7;
  display: block;
  font-family: "Open Sans Regular", sans-serif;
}

.textwraper textarea {
  border: none;
  box-shadow: none;
  background-color: #f1f1f1;
  width: 610px;
  width: 100%;
  outline: 0;
  color: #4d4d4d;
}

.notechbox {
  width: 20px;
}

@media (max-width: 1200px) and (min-width: 992px) {
  textwraper textarea {
    width: 100%;
  }
}

.reply-button {
  background-color: cornflowerblue;
  box-shadow: none;
  border-radius: 2px;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans Bold", sans-serif;
  border: none;
  margin-bottom: 10px;
}

.reply-button:hover, .reply-button:active, .reply-button:focus {
  background-color: rgb(92, 136, 218) !important;
  outline: 0;
  border: none !important;
}