.search {
  border: none;
  box-shadow: none;
  background-color: #f3f5f9;
  outline: none;
  color: #363838;
  font-size: 14px;
  padding: 8px 19px;
  height: 38px;
  transition: 0.3s;
  width: 40%;
}

.search::placeholder {
  color: #93969a;
  font-size: 18px;
}

.search:focus {
}

.inputWithIcon input[type="text"] {
  padding-left: 50px;
}

.inputWithIcon {
  position: relative;
  height: 100%;
}

.search-button i {
  color: white;
  padding-left: 4px;
  font-size: 18px;
}

.search-button {
  border: solid 1px #697683;
  box-shadow: none;
  background-color: #697683;
  color: #ffffff;
  padding: 9px 8px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.search-box {
  margin-top: 34.5px;
  transform: translatey(-50%);
}
