.main-container {
	background-color: #ecf0f1;
	line-height: 1.5;
	min-height: 100vh;
}

.react-tabs {
	margin-top: 50px;
}

.react-tabs__tab--selected {
	background: transparent;
	border-color: transparent;
	border-bottom: 2px solid cornflowerblue;
}

.react-tabs__tab:focus {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 2px solid cornflowerblue;
	outline: 0;
	box-shadow: none;
}

.react-tabs__tab:focus:after {
	content: "";
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: transparent;
}

.rwt__tab {
	width: 100%
}

.profile-settings {
	box-shadow: 8px 12px 18px 0 rgba(25, 42, 70, .13);
	background-color: #ecf0f1;
	padding: 50px 120px 70px 120px;
	margin-bottom: 50px;
}

.name-inputs {
	display: flex;
	margin-bottom: 15px;
}

.controls {
	margin-bottom: 15px;
}

.firstname-input {
	width: 100%;
	margin-right: 100px;
}

.lastname-input {
	width: 100%;
}

.checkbox-input {
	margin-bottom: 15px;
	display: flex;
}

.doctor-label {
	margin-right: 10px;
}