.Main {
  height: 937px;
  position: relative;
  top: 0;
  left: 0;
}

.background {
  max-height: 100%;
  float: right;
}

.decor {
  z-index: 2;
  transform: translate(0, -100%);
  width: 35%;
  margin: 0;
}

.header {
  z-index: 2;
  color: #4d4d4d;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.description {
  margin: 0;
  margin-left: 5px;
  font-size: 32px;
}

.healthify {
  margin: 0;
  font-size: 92px;
}

.home {
  min-height: 100vh;
  background-color: #f8f9fa;
  position: relative;
  overflow: auto;
}

.home-container {
  position: absolute;
  max-width: 100%;
  width: 100%;
  margin-top: 75px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
}

.post-container {
  margin-bottom: 50px;
  width: 700px;
  float: left;
  margin-left: 100px;
}
